server:
  port: 8080

spring:
  application:
    name: eventstream-nexus

  datasource:
    url: jdbc:postgresql://localhost:5432/eventstream
    username: eventstream
    password: eventstream
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8081
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: http://localhost:8081

  threads:
    virtual:
      enabled: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: INFO
    nl.leomoot.eventstreamnexus: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

mapstruct:
  unmappedTargetPolicy: ERROR
  unmappedSourcePolicy: ERROR
  defaultComponentModel: spring
