databaseChangeLog:
  - changeSet:
      id: 002-add-client-table
      author: lmo
      changes:
        - createTable:
            tableName: clients
            columns:
              - column:
                  name: id
                  type: BIGINT
                  autoIncrement: true
                  constraints:
                    primaryKey: true
                    nullable: false

              - column:
                  name: name
                  type: VARCHAR(255)
                  constraints:
                    nullable: false

              - column:
                  name: email
                  type: VARCHAR(255)
                  constraints:
                    nullable: false

              - column:
                  name: created_at
                  type: TIMESTAMP WITH TIME ZONE
                  defaultValueComputed: CURRENT_TIMESTAMP
                  constraints:
                    nullable: false

              - column:
                  name: updated_at
                  type: TIMESTAMP WITH TIME ZONE
                  defaultValueComputed: CURRENT_TIMESTAMP
                  constraints:
                    nullable: false

        - addUniqueConstraint:
            tableName: clients
            columnNames: email
            constraintName: uq_clients_email
